.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.User {
  margin: 10px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  color: #ccc;
  background-color: #000000;
}

.status {
  text-align: center;
  margin-top: 50px;
}

.error {
  color: red;
}